$prime-color: #233142;
$second-color: #E5E5E5;
$third-color: #F95959;

$prime-font: 'Libre Franklin',
sans-serif;

$tablet-width: 768px;
$desktop-width: 1024px;

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* DISABLE SECTION FOR UPPER VERSION THAN MOBILE */

.hamburger,
.navigation {
    display: none;
}


body {
    width: 100%;
    margin: 0;
    display: inline-block;
    font-family: $prime-font;
    box-sizing: border-box;

    ul {
        list-style: none;
    }

    a,
    a:active,
    a:visited,
    a:link,
    a:checked {
        text-decoration: none;
    }
}

.sectionbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    a {
        color: $prime-color;
    }

    .openingInfo{
        color: $prime-color;
        background-color: $third-color;
        width: 20vw;
        z-index: 2;
        border-right: 2px solid $prime-color;
        position: absolute;
        text-align: center;

        a {
            z-index: 1;
        }
    }

    .scroll {
        width: 100%;
        display: flex;
    }

    .scroll div {
        margin-left: 2em;
        z-index: 1;
        color: black;
        white-space: nowrap;
        text-transform: uppercase;
        animation: animate 30s linear infinite;
        animation-delay: -20s;
    }

    .scroll div:nth-child(2) {
        animation: animate2 55s linear infinite;
        animation-delay: -20s;
    }

    .scroll div:nth-child(3) {
        animation: animate3 70s linear infinite;
        animation-delay: -40s;
    }

    @keyframes animate {
        
        0% {
            transform: translateX(200%);
        }
        100% {
            transform: translateX(-250%);
        }
    }

    @keyframes animate2 {

        0% {
            transform: translateX(500%);
        }

        100% {
            transform: translateX(-500%);
        }
    }

    @keyframes animate3 {

        0% {
            transform: translateX(700%);
        }

        100% {
            transform: translateX(-750%);
        }
    }
}

.container--socialbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    color: $second-color;

    a {
        color: $second-color;
    }

    h2 {
        font-size: 16px;
    }

    .block__element--social {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;

        .block__element--styling {
            display: flex;
            justify-content: space-evenly;
            align-items: baseline;
            padding-left: 2em;
            width: 50%;
        }
    }
}

.container--navbar {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 70% 15%;
    padding: 5em;
    text-align: center;

    .mobileWeather {
        display: none;
    }

    .logo {
        width: 5vw;
    }

    .navbar__element {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navbar__element--list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navbar__element--link {
        font-size: 24px;
        color: $prime-color;
        font-family: $prime-font;

        a {
            color: $prime-color;
        }
    }

    .navbar__element--link:hover {
        border-bottom: 4px solid $third-color;
        transform: all 0.15s;
    }

    input[type="search"] {
        color: $prime-color;
        border: 2px solid $prime-color;
        border-width: 0 0 3px;
        background-color: transparent;
        font-family: $prime-font;
        width: 15vw;
        text-align: center;
    }

    input[type="search"]:focus {
        color: $prime-color;
        border-color: $third-color;
        outline: none;
        font-family: $prime-font;
    }
}

.container--content {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 150vh;
    padding: 10px;
    box-sizing: border-box;

    .block--main {
        display: grid;
        grid-template-areas:
            "header header header header"
            "main main side side"
            "footer footer footer footer";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        padding: 4em;
        gap: 2em;

        .item-a {
            grid-area: header;
            background-image: url(https://www.newsbtc.com/wp-content/uploads/2020/04/shutterstock_1692437701-1200x780.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .item-b {
            grid-area: main;
            background-image: url(https://bitcoinist.com/wp-content/uploads/2017/08/wc-bitcoin-egypt-cover.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .item-c {
            grid-area: side;
            background-image: url(https://www.coindesk.com/wp-content/uploads/2020/04/btc-chart-apr2-1200x628.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .item-d {
            grid-area: footer;
            background-image: url(https://bitcoinist.com/wp-content/uploads/2017/08/wc-bitcoin-egypt-cover.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        h2, h3 {
            text-shadow: 2px 2px 2px black;
            color: $second-color;
        }
    }

    .sidebar__element {
        // padding: 0.5em;

        .sidebar__element--articles {
            margin-top: 3em;
        }
    }

    .banner {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, fr);
        font-size: 24px;

        .opt {
            width: 100%;
            height: 100%;
            background-color: black;
        }

        h2 {
            font-size: 62px;
        }

        .banner__element {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;

            .banner__element--opt {
                color: $second-color;
                margin-top: 2em;
                width: 15vw;
                background-color: $prime-color;
                border: 10px solid $prime-color;
                text-align: center;

                input[type="text"],
                input[type="email"],
                input[name="user_name"],
                input[name="user-email"] {
                    color: $second-color;
                    background-color: $prime-color;
                }
            }
        }
    }
}

@media (min-width: 1px) and (max-width: 1200px) {

        .hamburger {
            padding: 10px;
            display: inline-block;
            cursor: pointer;
            background-color: transparent;
            border: 0;
            margin: 0;
        }

        .hamburger,
        .navigation {
            transition: transform .3s .1s ease-in-out;
        }

        .hamburger--active {
            transform: translateX(-190px);
        }

        .hamburger__box {
            width: 35px;
            height: 24px;
            display: inline-block;
            position: relative;
        }

        .hamburger-line {
            width: 100%;
            height: 3px;
            background-color: black;
            position: absolute;
        }

        .hamburger__inner {
            width: 100%;
            height: 3px;
            background-color: black;
            position: absolute;

            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color .1s .2s ease-in-out;
        }

        .hamburger__inner::before,
        .hamburger__inner::after {
            width: 100%;
            height: 3px;
            background-color: black;
            position: absolute;
            content: '';
            right: 10px;
            transition: transform .2s .2s ease-in-out;
        }

        .hamburger__inner::before {
            top: -10px;
        }

        .hamburger__inner::after {
            top: 10px;
        }

        .hamburger--active .hamburger__inner {
            background-color: transparent;
        }

        .hamburger--active .hamburger__inner:before {
            transform: translateY(10px) rotate(45deg);
        }

        .hamburger--active .hamburger__inner:after {
            transform: translateY(-10px) rotate(-45deg);
        }

        .navigation {
            height: 10vh;
            width: 200px;
            background-color: #ffc107;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-250px);
        }

        .navigation--active {
            height: 100vh;
            transform: translateY(0px);
        }

        .navigation__list {
            margin-top: 50px;
            list-style: none;
        }

        .navigation__item {
            margin-bottom: 20px;

        }

        .btn__secondary {
            font-size: 16px;
            text-decoration: none;
            padding: 10px;
            transition: all 0.4s ease 0s;
        }

        .btn__secondary:hover {
            color: #ffffff;
            background: #ffffff;
            border-color: #ffc107;
            transition: all 0.4s ease 0s;
        }

    .container--socialbar,
    .banner {
        display: none;
    }

    .banner {
        a, a:visited, a:active, a:link, a:checked {
            color: $prime-color;
        }
    }

    .container--navbar {
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .navbar__element--list,
        .navbar__element--search,
        .noneDisplay {
            display: none;
        }

        .logo {
            width: 70px;
            height: 70px;
        }

        .mobileWeather {
            display: flex;
            text-align: center;
            justify-content: space-evenly;
            align-items: center;

            .mobile__element {
                display: flex;
                justify-content: space-evenly;
                align-items: baseline;
                padding-left: 2em;
                width: 100%;
            }
        }

        .hamburgermenu {
            display: flex;
        }
    }

    .block {
        text-align: center;
        overflow: hidden;
        width: 100%;
        display: grid;
        height: 6vh;

        .block__element--normal,
        .block__element--start,
        .block__element--center,
        .block__element--end {
            text-align: center;
            font-size: 12px;
            padding: 0;
            margin: 0;
        }
    }
    
    .container--content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
        margin: 0;
        gap: 0;

        .block--main {
            padding: 0;
            margin-top: 2em;
            gap: 2em;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, fr);
            grid-template-areas: 
            "header"
            "main"
            "side"
            "footer"
            ;
        }
    }

    .sectionbar {
        height: 100%;
        text-align: center;
        font-size: 1rem;
    }

    @keyframes animate {

        0% {
            transform: translateX(200%);
        }

        100% {
            transform: translateX(-300%);
        }
    }

    @keyframes animate2 {

        0% {
            transform: translateX(250%);
        }

        100% {
            transform: translateX(-400%);
        }
    }

    @keyframes animate3 {

        0% {
            transform: translateX(450%);
        }

        100% {
            transform: translateX(-450%);
        }
    }

    .ruleset {

        padding: 1em;
        margin-top: 1em;

        .ruleset__element > a {
            font-size: 1rem;
            justify-content: space-evenly;
            align-items: flex-start;
        }
    }
}

.ruleset {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: auto;
    padding: 2.5em;
    margin-top: 5em;

    .ruleset__element {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            text-align: center;
        }
    }
}

.block {
    font-size: 11px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;

    h3 {
        font-size: 13px;
    }

    a {
        color: $prime-color;
    }
}

.block__element {
    display: flex;
    justify-content: space-evenly;
}

.block__element--normal {
    justify-self: center;
    margin-top: 20px;
}

.block__element--start {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 30px;
}

.block__element--center {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.block__element--end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.block--sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.block--md {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.footer {
    padding: 2em;
}

.button {
    border: none;
    font-family: $prime-font;
    font-size: 16px;
    padding: 1em;

    a {
        color: $prime-color;
    }

    a:hover {
        color: $prime-color;
        border-bottom: 4px solid $third-color;
    }
}

.button--primary {
    font-size: 28px;
}

.button--primary:hover {
    transform: all 0.15s;
}

.button--secondary {
    margin-top: 2em;
    color: $second-color;
    background-color: $third-color;
}

// .button--secondary:hover {}


.bg--prime {
    color: $second-color;
    background-color: $prime-color;
}

.bg--third {
    color: $prime-color;
    background-color: $third-color;

}

.bg--image {
    color: $second-color;
    background: url('https://images.unsplash.com/photo-1558862771-acf0f9ab8916?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
    background-size: cover;
}

.icon {
    width: 25px;
    height: 25px;
}